{%extends 'base.html'%}
{%block content%}
  <ul class="list-unstyled" style="padding-left: 15%">
<!--
    <li class="hidden-xs hidden-sm test-word"><span class="glyphicon glyphicon-king"></span><li>
    <li class="lead hidden-xs hidden-sm test-word">Hi Derek! You are the best!</li>
    <li class="visible-sm visible-xs test-text"><span class="glyphicon glyphicon-baby-formula"></span><li>
    <li class = "visible-sm visible-xs test-text">GET OFF THE IPAD DANIEL!!!!</li>
-->
  </ul>

<div class="panel">
  <div class="panel-heading title-text">
    Upload an Image
  </div>
  <div class="panel-body body-text">
    <form enctype="multipart/form-data" action="upload_image/" method="post">
      {%csrf_token%}
    <table>
      {{form.as_table}}
    </table>
      <input type="submit" value="Submit" class="btn btn-success"/>
    </form>
  </div>
</div>
{{error}}
{%endblock%}
