body div{
  font-family:'Ubuntu';
}
#main-header {
  font-size:4em;  
  font-family:'Bungee',cursive;
  color: #BA4A00;
  text-decoration:none;
}


a:hover {
  text-decoration:none;
}

#main-header:hover {
  color: #ba7500;
}
.body-text{
  font-family: 'Ubuntu';
  font-size:1.2em;
  line-height: 1.6em;
}
.title-text {
  font-size:2em;
  font-weight: bolder;  
}

tbody tr td input, tbody tr td textarea{
  margin: 1em 0em 0em 1em;
}

/*pictures*/
.picture-header {
  font-size:2.5em;
  font-weight: bolder;
  color: #BA4A00;
}

.picture-body {
  position:relative;
  width: 25em;
  max-height: 100%;
  margin-bottom: 5%;
}

.subtext {
  font-size:1em;
  color: #C3C3C3;

}
.container-fluid .row{
  align-items: flex-end;
}

.row.is_flex{
  display:flex;
  align-items: flex-end;
}
/*navbar*/
