body div{
  font-family:'Ubuntu';
}
#main-header {
  font-size:4em;
  font-family:'Bungee',cursive;
  color: #BA4A00;
  text-decoration:none;
}


a:hover {
  text-decoration:none;
}

#main-header:hover {
  color: #ba7500;
}
.body-text{
  font-family: 'Ubuntu';
  font-size:1em;
  line-height: 1.6em;
}
.title-text {
  font-size:2em;
  font-weight: bolder;
}

tbody tr td input, tbody tr td textarea{
  margin: 1em 0em 0em 1em;
}

/*pictures*/
.picture-header {
  font-size:2.5em;
  font-weight: bolder;  
}

.picture-body {
  position:relative;
  width: 100em;
  max-height: 100%;
  margin-bottom: 5%;
}

.user-picture {
  position:relative;
  max-width:60%;
  margin: 3% 10% 4% 10%;
}

.subtext {
  font-size:1em;
  color: #C3C3C3;

}

.frame {
  width: auto;
  margin-bottom:5%;
}
/*.myrow > * {
    display: table-cell;
    vertical-align: bottom;
    float:none;
}*/

.row.is_flex{
  display:flex;
  align-items: flex-end;
}
/*navbar*/
